BODY
{
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #9FC09D; 
   	SCROLLBAR-TRACK-COLOR: #E4EAE3; 
    SCROLLBAR-BASE-COLOR:#ffffff; 
    SCROLLBAR-FACE-COLOR: #E4EAE3;
 	SCROLLBAR-HIGHLIGHT-COLOR: #9FC09D;
 	SCROLLBAR-SHADOW-COLOR: #9FC09D;
  	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
  	background-color: #E4EAE3;
  	margin:0;
}
table.tab_quran
{
font-family: Traditional Arabic;
font-size: 17pt;
line-height: 40 px;
}
table.tab_fa_en
{
font-family: Tahoma;
font-size: 10pt;
line-height: 30 px;
}
table.tab_en{
font-family: Times New Roman;
font-size: 12pt;
line-height: 30 px;
}
TABLE{
	FONT-FAMILY: Tahoma; 
	FONT-SIZE: 10pt; 
	LINE-HEIGHT: 150%;
}

.n
{
	color:green;
	font-family:traditional arabic;
	font-weight:bold;
	font-size:100%;
}
A.Q1{
	TEXT-DECORATION:NONE;
	COLOR:#20574E;
	FONT-SIZE:10pt;
}
A.Q1:visited {
	COLOR: #318677;
}
A.Q1:hover {
	COLOR: #514040; TEXT-DECORATION:NONE;
}
A.Q1:active {
	COLOR:maroon;
}
A {
	COLOR: red; 
	TEXT-DECORATION: none; 
}
A:hover {
	COLOR: #b30000; TEXT-DECORATION: underline
}
A:active {
	COLOR: maroon
}
A:visited {
	COLOR: red;
}