BODY
{
	SCROLLBAR-3DLIGHT-COLOR: #ffffff; 
	SCROLLBAR-ARROW-COLOR: #9FC09D; 
   	SCROLLBAR-TRACK-COLOR: #E4EAE3; 
    SCROLLBAR-BASE-COLOR:#ffffff; 
    SCROLLBAR-FACE-COLOR: #E4EAE3;
 	SCROLLBAR-HIGHLIGHT-COLOR: #9FC09D;
 	SCROLLBAR-SHADOW-COLOR: #9FC09D;
  	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
  	background-color: #E4EAE3;
  	font-family: tahoma;
  	font-size: 10pt;
	text-align: justify;
}

p {
	text-align: justify;
	line-height: 1.4;
}

table
{
  font-family: tahoma;
  font-size: 10pt;
}